.btn {
  background: var(--primary-color);
  color: var(--commonWhite);
  border: none;
  padding: 22px;
  border-radius: 40px;
  font-weight: 600;
  min-width: 100%;
}

.btn p {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  vertical-align: middle;
}

.btn:disabled {
  cursor: not-allowed;
  background-color: var(--inactive-color);
}
