.hero {
  width: auto;
  /* min-height: 100%; */
  padding: 0px 16px;
  display: grid;
  gap: 32px;
}

.hero::after {
  content: "";
  position: absolute;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: var(--blurBackground);
  border: 4px solid #ffad32;
  opacity: 1;
  bottom: -100px;
  right: -50px;
}

.description {
  display: grid;
  gap: 12px;
}

.title {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 27px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--commonWhite);
}

.subtitle {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--commonWhite);
  opacity: 0.8;
}

.image {
  width: 145px;
  height: auto;
  position: absolute;
  bottom: -70px;
  right: 0;
  z-index: 2;
}

@media (min-width: 568px) {
  .hero {
    display: none;
  }
}
