.root {
  display: grid;
  gap: 14px;
}

.title {
  font-family: Kaisei Tokumin;
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--primary-text-color);
}

.subtitle {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--secondary-text-color);
}

@media (min-width: 1024px) {
  .title {
    font-size: 26px;
  }
}
