.root {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.arrow {
  border-radius: 6px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s ease;
}

.disabled {
  opacity: 0.3;
  cursor: default;
}

.track {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  display: flex;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.track::-webkit-scrollbar {
  display: none;
}

.track:active {
  cursor: grabbing;
}

.inner {
  display: flex;
  flex-direction: row;
  width: max-content;
}

.item {
  flex: 0 0 auto;
}
