.pageRoot {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.mainArea {
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 50px 0px;
  background: transparent;
}

.pageRoot::before,
.pageRoot::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: var(--blurBackground);
  filter: blur(150px);
  opacity: 1;
}

.pageRoot::before {
  top: -100px;
  right: -100px;
}

.pageRoot::after {
  bottom: -100px;
  left: -100px;
}

.pageRoot > * {
  position: relative;
  z-index: 1;
}

@media (min-width: 1600px) {
  .pageRoot::before,
  .pageRoot::after {
    width: 800px;
    height: 800px;
    filter: blur(180px);
  }

  .pageRoot::before {
    top: -150px;
    right: -150px;
  }

  .pageRoot::after {
    bottom: -150px;
    left: -150px;
  }
}
