.root {
  min-height: var(--date-slot-min-height);
  width: 100%;
}

.prevArrow,
.nextArrow {
  transform: translateY(12px);
}

@media (min-width: 568px) {
  .root {
    width: 100%;
    margin: 0 auto;
  }
}
