.root {
  width: 100%;
  /* margin: 0 auto; */
}

.slideWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--commonWhite);
  border-radius: 100px;
  cursor: pointer;
  transition: transform 0.12s ease, background 0.12s;
  border: 1px solid var(--border-color);
  color: #000;
  width: 80px;
  height: 45px;
}

.label {
  color: var(--primary-text-color);
  font-family: Poppins;
  font-weight: 400;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}

.active {
  background: var(--grey-background-color);
  border: none;
}

.active .label {
  color: var(--accent-text-color);
  font-weight: 500;
}

.button:disabled {
  color: var(--secondary-text-color);
  cursor: default;
  pointer-events: none;
  opacity: 0.3;
}

@media (min-width: 568px) {
  .root {
    width: 100%;
    margin: 0 auto;
  }
}
