.root {
  width: 100%;
  padding: 0px 24px;
}

.slideWrapper {
  padding: 6px;
}

.arrow {
  z-index: 5;
  background: transparent;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}

.prev {
  position: absolute;
  left: -44px;
  top: 50%;
  transform: translateY(-50%);
}

.next {
  position: absolute;
  right: -44px;
  top: 50%;
  transform: translateY(-50%);
}

.slick-track {
  display: flex !important;
  align-items: center;
}

.slick-slide {
  display: block !important;
  float: none !important;
}

:global(.slick-prev),
:global(.slick-next) {
  display: none !important;
}
