.root {
  width: 100%;
}

@media (min-width: 568px) {
  .root {
    width: 100%;
    padding: 0px 24px;
  }
}

.arrow {
  z-index: 5;
  background: transparent;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}

.prev {
  position: absolute;
  left: -44px;
  top: 50%;
  transform: translateY(-50%);
}

.next {
  position: absolute;
  right: -44px;
  top: 50%;
  transform: translateY(-50%);
}

:global(.slick-prev),
:global(.slick-next) {
  display: none !important;
}
