.contentRoot {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.column {
  display: grid;
  gap: 16px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 720px) {
  .row {
    flex-direction: column;
  }
  .actions {
    justify-content: center;
  }
}
