.contentRoot {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 30px;
  padding: 24px 0 0 16px;
}

.actions {
  display: flex;
  justify-content: center;
  padding: 16px;
}

@media (min-width: 568px) {
  .actions {
    padding: 16px 74px;
  }

  .column {
    padding: inherit;
    gap: 16px;
    margin-bottom: 100px;
  }
}
