.contentRoot {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.column {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 30px;
  padding: 24px 0 0 16px;
}

@media (min-width: 568px) {
  .fadeOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 80%,
      var(--commonWhite) 100%
    );
  }
}

.actions {
  display: flex;
  justify-content: center;
  padding: 16px;
}

@media (min-width: 568px) {
  .actions {
    padding: 16px 74px;
  }

  .column {
    padding: inherit;
    gap: 16px;
    margin-bottom: 100px;
  }
}
