.contentRoot {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 100px;
}

.actions {
  display: flex;
  justify-content: center;
  padding: 16px 74px;
}
