.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px !important;
}

.card {
  width: 100%;
  background: var(--commonWhite);
  border-radius: 12px 12px 0px 0px;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.upperBlock {
  display: flex;
  gap: 16px;
  align-items: stretch;
  padding: 28px 16px 0px 16px;
}

.image {
  display: none;
}

.headerArea {
  flex: 1;
  display: flex;
  align-items: center;
}

@media (min-width: 568px) {
  .wrapper {
    height: inherit;
  }
  .card {
    border-radius: 12px;
  }
  .upperBlock {
    padding: 28px 64px 0px 64px;
  }

  .image {
    display: block;
    width: 120px;
    height: 120px;
    object-fit: cover;
  }

  .contentArea {
    padding: 24px;
  }
}
