.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 620px;
  margin-top: 40px !important;
}

.card {
  width: 100%;
  background: var(--commonWhite);
  border-radius: 12px;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.upperBlock {
  display: flex;
  gap: 16px;
  align-items: stretch;
  padding: 28px 64px 0px 64px;
}

.image {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.headerArea {
  flex: 1;
  display: flex;
  align-items: center;
}

.contentArea {
  padding: 16px 24px 28px 24px;
}

/* @media (max-width: 720px) {
  .upperBlock {
    flex-direction: column;
    padding: 16px;
  }

  .imagePlaceholder {
    width: 100%;
    height: 160px;
  }
} */
