:root {
  --background: #e28f11;
  --foreground: #171717;

  --blurBackground: #aa580d;

  --commonWhite: #fff;
  /* --commonWhite: rgb(165, 96, 96); */
  --commonBlack: #000;
  --primary-text-color: #16171b;
  --secondary-text-color: #8f91a1;

  --primary-color: #16171b;
  --border-color: #e8ebf4;
  --inactive-color: #dadbe8;

  --grey-background-color: #f7f7fc;

  --accent-text-color: #de3a6b;

  --mobile-width: 600px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 568px) {
  body::before,
  body::after {
    content: "";
    position: fixed;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: var(--blurBackground);
    filter: blur(50px);
    opacity: 1;
  }

  body::before {
    top: -150px;
    right: -150px;
  }

  body::after {
    top: 20vh;
    left: -150px;
  }
}
